*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: sans-serif;
  color: #333333;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom empty checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 6px;

  background: url('../assets/icons/uncheck.svg') no-repeat center;
}

/* When the checkbox is checked, add the checkmark*/
.container input:checked ~ .checkmark {
  background: url('../assets/icons/check.svg') no-repeat center;
  overflow: hidden;
}

/* Create the checkmark/indicator box (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

/* Create the check box animation */
@keyframes checkBox {
  to {
    transform: translateX(24px);
  }
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  background: #ff5460;

  animation: checkBox 0.4s cubic-bezier(0.77, 0.09, 0.98, 0.51) forwards;
}

/* Set the word as checkmark reference */
.content {
  position: relative;
}

/* Create the check word animation */
@keyframes checkWord {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Change the word color when checked */
.container input:checked ~ .content {
  color: #555555;
}

/* Show the word checkmark when checked */
.container input:checked ~ .content:after {
  content: '';
  height: 2px;
  background: #555555;
  position: absolute;
  left: 0;
  top: 48%;

  border-radius: 16px;

  animation: checkWord 0.4s cubic-bezier(0.77, 0.09, 0.98, 0.51) forwards;
}
